window.livi-window {
  background: none;
}

.livi-window {
  background-color: rgba(00, 00, 00, 1.0);
}

.livi-controls {
  background-color: rgba(80, 80, 80, 0.8);
  margin: 16px;
  border-radius: 8px;
  color: #e6e5e5;
  font-feature-settings: "tnum";
}

.livi-controls > button {
  margin: 6px;
  color: #e6e5e5;
}

.livi-header-bar button {
  padding: 6px;
}

.livi-error {
  background-color: rgba(80, 80, 80, 0.8);
  color: @warning_color;
  margin: 4px 16px 4px 16px;
  border-radius: 4px;
}

livi-playback-popover {
  background-color: green;
}
